# 每日单独存储的数据
dataset_by_day/
# 实验结果
exp_pic/
elec_feature_analyze/time_clustering/cluster_data/
elec_feature_analyze/analyze_result/
# 数据集
process_dataset/Air-condition/
process_dataset/WashMachine/
process_dataset/Microwave/
process_dataset/dataset/
process_dataset/experiment_dataset/

# ukdale数据集
ukdale_disaggregate/
nilm_metadata/
ukdale.h5